# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Environnements virtuels
# ======================
venv/
.venv/
.env/
.env*/

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Streamlit
# ======================
.streamlit/
.streamlit/secrets.toml

# ======================
# Données & documents
# ======================
data/
*.pdf
*.jpg
*.png

# ======================
# YOLO / ML
# ======================
*.pt
*.onnx
runs*/
runs_tampon*/

# ======================
# Outputs générés
# ======================
*.log
output*.txt
ocr*.txt

# ======================
# PyInstaller (IGNORÉ DÉFINITIVEMENT)
# ======================
build/
dist/

# ======================
# Exceptions importantes
# ======================
!requirements.txt

# ======================
# OS
# ======================
.DS_Store
Thumbs.db

